@font-face {
  font-family: 'Patsy Sans';
  src: url('../fonts/PatsySansItalic.eot');
  src: local('Patsy Sans Italic'), local('PatsySansItalic'),
      url('../fonts/PatsySansItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/PatsySansItalic.woff2') format('woff2'),
      url('../fonts/PatsySansItalic.woff') format('woff'),
      url('../fonts/PatsySansItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Patsy Sans';
  src: url('../fonts/PatsySansItalic_1.eot');
  src: local('Patsy Sans Italic'), local('PatsySansItalic'),
      url('../fonts/PatsySansItalic_1.eot?#iefix') format('embedded-opentype'),
      url('../fonts/PatsySansItalic_1.woff2') format('woff2'),
      url('../fonts/PatsySansItalic_1.woff') format('woff'),
      url('../fonts/PatsySansItalic_1.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Patsy Sans';
  src: url('../fonts/PatsySansItalic_2.eot');
  src: url('../fonts/PatsySansItalic_2.eot?#iefix') format('embedded-opentype'),
      url('../fonts/PatsySansItalic_2.woff2') format('woff2'),
      url('../fonts/PatsySansItalic_2.woff') format('woff'),
      url('../fonts/PatsySansItalic_2.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Patsy Sans';
  src: url('../fonts/PatsySansRegular.eot');
  src: local('Patsy Sans'), local('PatsySansRegular'),
      url('../fonts/PatsySansRegular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/PatsySansRegular.woff2') format('woff2'),
      url('../fonts/PatsySansRegular.woff') format('woff'),
      url('../fonts/PatsySansRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Patsy Sans';
  src: url('../fonts/PatsySansItalic_3.eot');
  src: local('../fonts/Patsy Sans Italic'), local('PatsySansItalic'),
      url('../fonts/PatsySansItalic_3.eot?#iefix') format('embedded-opentype'),
      url('../fonts/PatsySansItalic_3.woff2') format('woff2'),
      url('../fonts/PatsySansItalic_3.woff') format('woff'),
      url('../fonts/PatsySansItalic_3.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
