.hero-block {
    margin-top: 100px;

    &__img {
        @media (max-width: 600px) {
            display: none;
        }
    }
    &__img-mini {
        display: none;
        max-height: 220px;
        margin-inline: auto;
        @media (max-width: 600px) {
            display: block;
        }
    }
}
