@import 'vars';
@import 'header';
@import 'cards';
@import 'title';
@import 'hero-block';
@import 'tabs';

.container {
  max-width: 950px;
  margin: 0 auto;
}

* {
  color:white;
  font-family: Patsy Sans;
}

body {
  background: black;
}

